<html>
	<head>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
		<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
		<title>Prediksi Movie</title>
	</head>
	<body>
	

		<div class="container">
			<br>
			<!--Form-->
			<form action = "{{url_for('predict')}}" method ="POST" >
				<fieldset>
				  <div class="card card-body" >
					  <div class="form-group  row">
						<div class="col-sm-3">
							<label for="judul">Masukan Judul Film</label>
							<input class="form-control" type="text" id="item" name="item" required>
						</div>
					  </div>

					  <br> 
					  
					  <div class="form-group">
						<input class="btn btn-primary" type="submit" style="width:150px;" value="Result">
					  </div>

					 <div id ="result" class="table table-bordered">
					  	<th scope="col">{% for table in tables %}
           				 	<!-- {{titles[loop.index]}} -->
            				{{ table|safe }}
						{% endfor %} </th>
					</div>

			 </fieldset>
			</form>
			
		</div>
		
	</body>
</html>